<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Fulltext</th>
    <th>Image url</th>
    <th>Game</th>
    <th>Location</th>
	<th>Code</th>
    <th>Hint1</th>
    <th>Hint2</th>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.name %></td>
    <td><%= raw truncate(task.fulltext) %></td>
    <td><%= task.image_url %></td>
    <td><%= task.game_id %></td>
    <td><%= task.location %></td>
	<td><% task.codes.map { |c|%>
		<%= link_to c.name, c %>(<%= c.dif %>)
	<% } %></td>
    <td><%= raw truncate(task.hint1) %></td>
    <td><%= raw truncate(task.hint2) %></td>
    <td><%= raw truncate(task.comments) %></td>
    <td><%= link_to 'Show', task %></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %>
