<h1>Игра <%= @current_game.name %></h1>

<%= @params %>


<% @teams.each do |t| %>
	<h2><%= t.name %></h2>

	<%= form_tag change_order_task_orders_path, method: :get do%>
		<table>
		  <tr>
			<th>Task</th>
			<th>Order n</th>
			<th>Solved</th>
			<th>Dropped</th>
			<th>Time start</th>
			<th>Time hint1</th>
			<th>Time hint2</th>
			<th>Solve time</th>
			<th></th>
		  </tr>

		<% @task_orders.where(team_id: t.id).order(:order_n).each do |task_order| %>
		  <tr>
			<td><%= Task.find(task_order.task_id).name %></td>
			<td><%= number_field_tag "order_n[#{task_order.id}]", task_order.order_n, :min => 1, :max => 9  %></td>
			
			<td><%= task_order.solved %></td>
			<td><%= task_order.dropped %></td>
			<td><%= task_order.time_start %></td>
			<td><%= task_order.time_hint1 %></td>
			<td><%= task_order.time_hint2 %></td>
			<td><%= task_order.solve_time %></td>
			<td>
			<%= link_to 'Show', task_order %><br />
			<%= link_to 'Edit', edit_task_order_path(task_order) %><br />
			<%= link_to 'Destroy', task_order, method: :delete, data: { confirm: 'Are you sure?' } %>
			</td>
		  </tr>
		<% end %>
		</table>
		<%= submit_tag "Сохранить порядок" %>
		<% end %>
<% end %>
<br />
<%= link_to 'New Task order', new_task_order_path %>